*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 200%;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px / 16px 662.5%

  @include respond(big-desktop) {
    // width > 1200?
    font-size: 75%; // 1rem = 12px, 12 / 16
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1 rem = 9px, 9 / 16 56.25%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; // 1 rem = 8pxn 8 / 16 50%%
  }

  @include respond(phone) {
    // width < 600?
    font-size: 40%; // 1rem =
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  // background-color: $color-background;
}

.technical__text-detail {
  list-style-type: none;
}

.container {
  max-width: 100%;
  margin: 0rem;
  display: flex;
  justify-content: space-between;
}

.applications {
  max-width: 25%;
}

.old {
  display: none;
}
